
*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 100%;
    width: 100%;
    background-color: rgb(109, 109, 216);
}
.header1
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 8,30,0.5),rgb(4,8,30,0.5)),url('desk\ key.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 70px;
    height: 70px;
}
nav h1{
    text-decoration: none;
    color: white;
    font-size: 60px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;

}
.nav-links ul li:hover
{
    background-color: blue;
}
.ct-col
{
    width: 80%;
    margin: auto;
    text-align: center;
    color: white;
    padding-top: 40px;
}
.ct-col{
    flex-basis: 32%;
    border-radius: 10px;

}
.ct-col{
    flex-basis: 32%;
    border-radius: 10px;

}
input{
    height: 40px;
    width: 200px;
    margin-top: 20px;
    border-radius: 10px;
}
button{
    margin-top: 40px;
    margin-left: 50px;
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(19, 36, 225);
    border-radius: 10px;
}
